on:
  push:
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'

name: latest

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ghc:
          - '9.10.1'
        cabal:
          - '3.12'
    steps:
      - uses: actions/checkout@v4
      - uses: haskell-actions/setup@v2
        with:
          ghc-version: ${{ matrix.ghc }}
          cabal-version: ${{ matrix.cabal }}
      - run: cabal update
      - run: cabal test all
  ormolu:
    name: check .hs style (ormolu)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: haskell-actions/run-ormolu@v16
        with:
          version: '0.8.0.2'
