on:
  push:
    tags:
      - 'v*'

name: release

jobs:
  release_test:
    name: test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ghc:
          - '9.10.1'
        cabal:
          - '3.12'
    steps:
      - uses: actions/checkout@v4
        with:
          path: src
      - uses: haskell-actions/setup@v2
        with:
          ghc-version: ${{ matrix.ghc }}
          cabal-version: ${{ matrix.cabal }}
      - run: cd src; cabal update
      - run: |
          cd src
          mkdir ../sdist
          cabal sdist all -o ../sdist
      - run: |
          cd sdist
          for archive in *.tar.gz; do tar xf "$archive"; done
          echo "packages: */" > cabal.project
          cabal test all
  validate_cabal:
    name: validate .cabal files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: haskell-actions/setup@v2
        with:
          ghc-version: '9.10.1'
          cabal-version: '3.12'
      - run: |
          shopt -s globstar nullglob
          for cabal_file in **/*.cabal; do
            pushd "$(dirname $cabal_file)"
            test $(sed -e 's/^version:\s*\(.*\)$/\1/;t;d' *.cabal) = ${GITHUB_REF#refs\/tags\/v}
            cabal check
            popd
          done
  create_release:
    name: create release
    needs:
      - release_test
      - validate_cabal
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: ./dev/ci/github_release.sh
        id: github_release
      - uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ steps.github_release.outputs.name }}
          body: ${{ steps.github_release.outputs.body }}
          draft: false
  publish:
    name: publish packages to Hackage
    needs:
      - release_test
      - validate_cabal
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: haskell-actions/setup@v2
        with:
          ghc-version: '9.10.1'
          cabal-version: '3.12'
      - run: mkdir sdist; cabal sdist all -o sdist
      - run: cabal upload --publish -u '${{ secrets.HACKAGE_USERNAME }}' -p '${{ secrets.HACKAGE_PASSWORD }}' sdist/*.tar.gz
